// Place all the styles related to the rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {height: 600px; width:100%;}
#legend li {list-style-type: none; font-size: 1.2em; padding-bottom: 10px;}
#details {position:absolute; top: 9%; left: 52%; background-color: #eee; width:30%}
#detailbox {padding: 10px}